

.conteiner{
    width: 40%;
    height: 50vh;
    border: 2px solid  rgba(0, 0, 255, .2);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
    margin-left: 30%;
    margin-top: 10vh;
}

.text{
    font-size: 2rem;
}

.button{
    width: 60px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgba(0, 0, 255, .2);
    margin-top: 6vh;
    margin-left: 53.7%;
}

.inputdesign{
    width: 10%;
    height: 5vh;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 30%;
}
.inputdesign1{
    width: 10%;
    height: 5vh;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 45%;
}
.text1{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 40%;
}
.divone{
    margin-top: 5vh;
}
.textinput{
    font-size: 1.5rem;
}


.randomnumber{
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 10%;
}
